.bg-hero {
  background-image: url('https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 40em;
  opacity: 100%;
}


.card-link {
  text-decoration: none;
}

.card-img {
  height: 12rem;
  width: 20rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-img:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fffefe;
}

.browse-btn {
  background: linear-gradient(135deg, #6f42c1, #d63384);
  color: #fff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
  }
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-card-img {
  width: 40%;
  height: 200px; // or whatever height fits your card design
  object-fit: cover;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

